@using CSharpDevOps_Demo.Lib

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo - CSharpDevOps</title>
    <link rel="stylesheet" href="~/Demo.css" />
</head>
<body style="background-color: #6601b2;">
    
    @RenderBody()

</body>
</html>
